<div class="sect-about ti-c-text__space-menu" id="Section-about" >
  <div class="sect-about__img-container">
    <img src="/assets/img/img-excavator.svg" />
  </div>
  <div class="sect-about__text-container">
    <h2 class="ti-c-text__subtitle">- Sobre nós -</h2>
    <h3 class="ti-c-text__title">
      Compromisso e pontualidade <br />
      em cada projeto
    </h3>
    <p class="ti-c-text__description">
      Com mais de 10 anos de experiência no setor da construção civil, nossa
      empreiteira se destaca pela excelência na execução de obras,
      comprometimento com prazos e foco na satisfação do cliente. Nossa missão é
      transformar projetos em realidade, entregando soluções seguras, eficientes
      e personalizadas, respeitando as normas técnicas e o meio ambiente. Ao
      longo dos anos, construímos uma sólida reputação baseada na confiança, no
      profissionalismo e no relacionamento transparente com nossos clientes e
      parceiros.
    </p>
    <div class="sect-about__text-container__certificates-container">
      <div>
        <img src="/assets/img/Diploma.svg" alt="" />
        <p>Registro no CREA</p>
      </div>
      <div>
        <img src="/assets/img/Certificate.svg" alt="" />
        <p>Certificado de Qualidade ISO 9001</p>
      </div>
      <div>
        <img src="/assets/img/Verified.svg" alt="" />
        <p>Certificado de Treinamento em NR-18</p>
      </div>
    </div>
  </div>
</div>
