<div class="sect-works ti-c-text__space-menu" id="Section-works" >
  <h2 class="ti-c-text__subtitle">- Serviços -</h2>
  <h3 class="ti-c-text__title">Serviços e Obras de alta Qualidade</h3>
  <p class="ti-c-text__description ti-c-text__description__text-align sect-works__description">
    Oferecemos soluções completas em construção civil, desde projetos
    personalizados até a execução de obras residenciais, comerciais e
    industriais. Também realizamos reformas, manutenções e gerenciamento de
    obras, sempre com qualidade, eficiência e compromisso com prazos.
  </p>
  <div class="cards__container sect-works__service-cards__container">
    <app-card-works icon="Worker.svg" title="Execução de obras" description="Realizamos obras completas com foco em qualidade, desde a fundação até o acabamento."></app-card-works>
    <app-card-works icon="Flat-Building.svg" title="Reformas de alto padrão" description="Transformamos espaços com acabamento refinado, atenção aos detalhes e materiais de alta qualidade."></app-card-works>
    <app-card-works icon="Gears.svg" title="Infraestrutura industrial" description="Construção e adaptação de estruturas industriais robustas, seguras e alinhadas às necessidades operacionais."></app-card-works>
    <app-card-works icon="Skyscrapers.svg" title="Planejamento Preventivo" description="Ações técnicas antecipadas para evitar infiltrações, rachaduras e problemas estruturais no futuro."></app-card-works>
  </div>
  <div class="cards__container sect-works__count-cards__container">
  <app-card-count text="Obras Concluídas" value="1000+"></app-card-count>
  <app-card-count text="Reformas Realisadas" value="500+"></app-card-count>
  <app-card-count text="Projetos industriais" value="40+"></app-card-count>
  <app-card-count text="Casos evitado" value="200+"></app-card-count>
  </div>
</div>
