<div class="sect-contact ti-c-text__space-menu" id="Section-contact" >
  <div class="sect-contact__text">
    <h2 class="ti-c-text__subtitle">- Contato -</h2>
    <h3 class="ti-c-text__title">Faça a melhor escolha</h3>
    <p class="ti-c-text__description">
      Responda o formulario e entre em contato con nós. Todo contato te deixa
      mais perto de realizar seu sonho
    </p>
    <div class="sect-contact__text__container-phone">
      <img src="/assets/img/Call-blue.svg" alt="" />
      <p>Telefone: (31) 98765-4321 </p>
    </div>
    <div class="sect-contact__text__container-email">
      <img src="/assets/img/Gmail.svg" alt="" />
      <p>E-mail: contatoempreiteiraerro.com</p>
    </div>
    <div class="sect-contact__text__container-time">
      <img src="/assets/img/Clock.svg" alt="" />
      <p>Horário de Atendimento: Segunda a Sexta - 08h às 18h</p>
    </div>
    <div class="sect-contact__text__container-location">
      <img src="/assets/img/Location.svg" alt="" />
      <p>Endereço: Rua das Construções, 123 - Centro, Belo Horizonte, MG</p>
    </div>
  </div>
  <div class="sect-contact__form">
    <h2 class="ti-c-text__title">Vamos conversar?</h2>
    <p class="ti-c-text__description">Preencha o formulário abaixo e entraremos em contato o mais breve possível.</p>
    <div class="sect-contact__form__container-inputs">
      <h4>Nome Completo</h4>
      <input type="text" placeholder="Nome" />
      <h4>E-mail</h4>
      <input type="email" placeholder="E-mail" />
      <h4>Telefone</h4>
      <input type="tel" placeholder="Telefone" />
      <h4>Mensagem</h4>
      <input class="textarea" type="text" placeholder="Mensagem">
    </div>
    <button>Enviar</button>

  </div>
</div>
<div></div>
