.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .section {
    height: 102vh;

  }
  @media (max-width: 768px) {
    .section-works ,.section-contact {

      height: 200vh;

    }
  }
}
