<div class="sect-home__container ti-c-text__space-menu" id="Section-home" >
  <div class="sect-home">
    <h1 class="ti-c-text__subtitle">- Titan Engenharia -</h1>
    <h2 class="sect-home__title">ENGENHARIA EFICIENTE <br> RESULTADOS DURADOUROS</h2>
    <p class="ti-c-text__description">
      Seja bem-vindo à Titan, onde a solidez do nosso trabalho é a base para
      grandes conquistas. Atuamos no setor da construção civil com excelência,
      oferecendo soluções completas em obras residenciais, comerciais e
      industriais.
    </p>
    <div class="sect-home__footer">
      <button class="sect-home__button sect-home__button--budget">Solicitar orçamento</button>
      <button class="sect-home__button sect-home__button--contact">
        <img src="/assets/img/Phone.svg" alt="">+55 11 932 549 000
      </button>
  </div>
</div>

